@page
<div class="container">
    <div class="row mb-4">
        <div class="col-1">
            <label for="userInput" class="form-label">User</label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" id="userInput" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-1">
            <label for="messageInput" class="form-label">Message</label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" id="messageInput" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 text-end">
            <button class="btn btn-primary" id="sendButton">Send Message</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="messagesList" class="list-group"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>